body
{

}

#body-header
{
height: 65vh;
background-image: url(file:///C:/Users/dhanu/OneDrive/Desktop/space-facebook.jpg);
background-size: cover;
opacity: 1;
}

.horizontal
{
list-style: none;
text-align: center;
}

.horizontal li
{
display: inline-block;

margin: 8px;

}

.horizontal li a{
color: white;
font-style: bold;
text-decoration: none;
transition: color 0.5s, border-bottom 0.5s;
}

.horizontal li a:hover
{
color: greenyellow;
font-style: bold;
border-bottom: 3px solid greenyellow;
}


#name
{
color: whitesmoke;
text-align: center;
font-size: 80px;
}


h1
{
text-align: center;
}
#logo
{
width: 50px;
height: 50px;

}

#logo:hover
{
border-bottom: 2px solid white;
border-right: 2px solid white;
}


#brand 
{
margin-top: -50px;
}

#my-image
{
height: 12rem;
width: 12rem;
margin: auto;
}

#my-image img 
{
	height: 100%;
	width: 100%;
	margin-top: -70px;
border-radius: 50%;
}

#About
{

height: auto;
width: auto;
margin-left: 30px;
font-size: 25px;

}

#About h2:hover
{
color: red;
text-decoration: underline;
}


#decor 
{
border: 5px solid black;
}


.skills-display {
    width: 70%;
    height: 100px;
    border: 2px solid black; 	
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    /*align-content: center;*/
    margin-left: 150px;
    margin-right: 150px;

}

.skill-progress {
    width: 7rem;
    height: 1.4rem;
    background-color: grey;
    border-radius: 0.8rem;
    /*border: 2px solid black;*/
    margin-left: 150px;
    margin-right: 200px;
}

.skill-progres{
    width: 7rem;
    height: 1.4rem;
    background-color: grey;
    border-radius: 0.7rem;
    /*border: 2px solid black;*/
   margin-left: 300px;
    margin-right: 300px;
}
.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
}

.skill-progres > div {
    border-radius: 20px 0px 0px 20px;
}

.skill-name span {
    color: black;
    font-size: 1rem;
    margin-left: 10px;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue {
    background-color: #2857a4;
}

.eighty-five-percent {
    width: 85%;
    height: inherit;
}

.mb-red
{
background-color: darkred;
}

.ninety-percent
{
width: 90%;
height: inherit;
}

.mb-yellow
{
background-color: yellow;
}

